
:root{
    font-family: "aileron", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "aileron", sans-serif;
font-weight: 400;
font-style: italic;

font-family: "aileron", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "aileron", sans-serif;
font-weight: 700;
font-style: italic;

 --base-size: 12px;
 --gutter-size: 2em;

 --color--primary: black;
 --color--background:white;   

}

body {
    background-color: var(--color--background);
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-style: normal;

}
header {
    padding-inline: var(--gutter-size);
    padding: var(--gutter-size);
    position: sticky;
    top: 0;
    background-color: var(--color--primary);
    z-index: 100;
    color: var(--color--background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .header-links {
    display: flex;
    gap: 20px;
  }
  
  .headerfont {
    margin: 0;
  }
h1 {
    font-family: "aileron", sans-serif;
font-weight: 700;
font-style: normal;}


h2 {
    font-family: "aileron", sans-serif;
font-weight: 400;
font-style: italic;
}


h3{
    font-family: "aileron", sans-serif;
font-weight: 700;
font-style: italic;
}


.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
  
  img {
    width: auto;
    height: 500px;
    border-radius: 50%;
  }
  
  .intro-text h1,
  .intro-text h2 {
    margin: 0;
  }
  
  .bio {
    padding: 20px;
    max-width: 85%;
    line-height: 1.4;
    align-items: center;
  }
  


@media (min-width: 800px) {
    :root {
        --base-size: 20px;
    }

    .image-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        padding: 20px;
      }
    
      .bio {
        padding: 20px;
        max-width: 50%;
        line-height: 1.4;
      }

}
