
:root{
    font-family: "aileron", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "aileron", sans-serif;
font-weight: 400;
font-style: italic;

font-family: "aileron", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "aileron", sans-serif;
font-weight: 700;
font-style: italic;

 --base-size: 12px;
 --gutter-size: 2em;

 --color--primary: black;
 --color--background:white;   

}

body {
    background-color: var(--color--background);
    font-family: "aileron", sans-serif;
    font-weight: 400;
    font-style: normal;

}
header {
    padding-inline: var(--gutter-size);
    padding: var(--gutter-size);
    position: sticky;
    top: 0;
    background-color: var(--color--primary);
    z-index: 100;
    color: var(--color--background);
}

h1 {
    font-family: "aileron", sans-serif;
font-weight: 700;
font-style: normal;}


h2 {
    font-family: "aileron", sans-serif;
font-weight: 400;
font-style: italic;
}


h3{
    font-family: "aileron", sans-serif;
font-weight: 700;
font-style: italic;
}

@media (min-width: 500px) {
    :root {
        --base-size: 20px;
    }
}

@media some-criteria-or-rule {
}